# Dependencies
node_modules/

# Build output
dist/
dist-ssr/
build/

# Vite cache
.vite/

# Logs
npm-debug.log*

# Editor directories and files
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Local environment variables
.env
.env.local
.env.*.local

# Lockfiles
package-lock.json

# Generated shadcn components
components.json
